.carousel-item img {
    max-height: 590px;
    /* o la altura que prefieras */
    object-fit: cover;
    /* recorta imagen para que encaje */
    width: 100%;
}

.btn-success {
    background-color: var(--color-button);
    border-color: var(--color-button);
}

.btn-success:hover {
    background-color: #6F5448;
    border-color: #6F5448;
}

/* ---- Nav ---- */

.transparent-navbar {
    background-color: rgba(0, 0, 0, 0.4);
    /* fondo negro translúcido */
    backdrop-filter: blur(6px);
    /* desenfoque elegante */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* sombra suave */
    transition: background-color 0.3s ease;
}

.transparent-navbar .nav-link,
.transparent-navbar .navbar-brand,
.transparent-navbar .btn {
    color: #fff !important;
}

.transparent-navbar .btn-outline-success {
    border-color: #fff;
    color: #fff;
}

.transparent-navbar .btn-outline-success:hover {
    background-color: var(--color-button);
    border-color: var(--color-button);
}

.transparent-navbar .btn-success {
    background-color: var(--color-button);
    border-color: var(--color-button);
}

.transparent-navbar .btn-success:hover {
    background-color: #6F5448;
    border-color: #6F5448;
}

.navbar-brand span {
    line-height: 1;
    position: relative;
    top: 3px;
}

.playball-regular {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}

/* ---- colores de "Servicios Populares" (index.html) ---- */

:root {
    --color-principal-fondo: #F5F0E6;
    --color-secundario-fondo: #D9D2C5;
    --color-titulo: #4F463B;
    --color-texto: #706558;
    --color-button: #8C6E5F;
}

.servicio-titulo {
    color: var(--color-titulo);
}

.servicio-descripcion {
    color: var(--color-texto);
}

.servicio-fondo {
    background-color: var(--color-secundario-fondo);
}

.servicio-texto {
    color: var(--color-texto);
}

#servicios .btn-success {
    background-color: var(--color-button);
    border-color: var(--color-button);
}

#servicios .btn-success:hover {
    background-color: #6F5448;
    border-color: #6F5448;
}

.card-body .border-top {
    border-top: 2px solid var(--color-texto) !important;
}

/* ---- botones de servicios.html ---- */

#services .btn-success {
    background-color: var(--color-button);
    border-color: var(--color-button);
}

#services .btn-success:hover {
    background-color: #6F5448;
    border-color: #6F5448;
}

/*----------------------------------------*/

.icon-hover {
    color: #fff;
    transition: all 0.3s ease;
    padding: 4px;
}

.icon-hover:hover {
    color: #ccc;
    transform: scale(1.1);
}

.hover-item {
    border-radius: 4px;
    transition: all 0.2s;
    margin: 2px 4px;
}

.hover-item:hover {
    background-color: #f8f9fa;
    transform: translateX(3px);
}

.dropdown-menu {
    border-radius: 8px;
    border: none;
    min-width: 200px;
}

/*---------------------------------------*/
.auth-dependent {
    opacity: 0;
    transition: opacity 0.3s ease;
}
/*---------------------------------------*/

/* --- footer ---*/

.hover-scale {
    transition: color 0.4s ease;
}

.hover-scale:hover {
    color: #8C6E5F !important;
}